*.obj
x64/Debug/Physics Game.tlog/Physics Game.lastbuildstate
*.tlog
*.exe
Physics Game.vcxproj.filters
*.ilk
*.log
Physics Game.vcxproj
*.sdf
msvcr110.dll
*.dll
Physics Game.v12.suo
*.idb
x64/Debug/Physics Game.pdb
*.suo
Debug/vc120.pdb
*.sln
x64/Debug/vc120.pdb
*.pdb
*.user
resources/Thumbs.db
*.opensdf